.profile__avatar-button {
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  background: none;
  border: none;
}

.profile__avatar-button::before {
  content: '';
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  transition: opacity 0.3s linear;
}

.profile__avatar-button:hover::before {
  content: '';
  opacity: 0.8;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8) url('../../../images/edit-avatar.svg')
    no-repeat center;
}
