.header__menu-burger {
  display: none;
  transition: opacity 0.3s linear;
}

.header__menu-burger:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__menu-burger {
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    width: 24px;
    height: 21px;
    border: none;
    gap: 7px;
    flex-direction: column;
    margin-right: 29px;
  }
}
