.header__line {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  min-height: 142px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 900px) {
  .header__line {
    width: 99%;
  }
}
