.header__menu-item {
  color: #a9a9a9;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

.header__menu-item:hover {
  opacity: 0.6;
  cursor: pointer;
}
